/**
 *  source: http://jeremyckahn.github.io/stylie/
 *  meta: {
 *      frames: [
 *          { x: 333, y: 100, time: 0, xCurve: null, yCurve: null },
 *          { x: 333, y: 180, time: 500, xCurve: linear, yCurve: easeIn },
 *          { x: 368, y: 134, time: 900, xCurve: linear, yCurve: easeOut },
 *          { x: 413, y: 187, time: 1340, xCurve: linear, yCurve: easeIn },
 *          { x: 424, y: 165, time: 1540, xCurve: linear, yCurve: easeOut },
 *          { x: 438.4, y: 211, time: 1880, xCurve: linear, yCurve: easeIn },
 *          { x: 438.4, y: 175, time: 2240, xCurve: linear, yCurve: easeOut },
 *          { x: 438.4, y: 211, time: 2600, xCurve: linear, yCurve: easeIn },
 *          { x: 438.4, y: 185, time: 2860, xCurve: linear, yCurve: easeOut },
 *          { x: 438.4, y: 199, time: 3500, xCurve: linear, yCurve: bounce },
 *      ]
 *  }
 */


.header {
    position: relative;
}

.red-ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    z-index: 10;
    margin: 0;
    padding: 0;
    line-height: 1;
    position: absolute;
    top: -45px;
    left: 333px;
}

@media only screen and (min-width: 914px) {
    .red-ball {
        animation-name: red-ball-keyframes;
        animation-duration: 3500ms;
        animation-delay: 0ms;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-play-state: paused;
        transform-origin: 0 0;
    }
    @keyframes red-ball-keyframes {
        0% {
            transform: translate(0px, 0px) translate(-50%, -50%);
        }
        0.95% {
            transform: translate(0px, 0.3556px) translate(-50%, -50%);
        }
        1.9% {
            transform: translate(0px, 1.4222px) translate(-50%, -50%);
        }
        2.86% {
            transform: translate(0px, 3.2px) translate(-50%, -50%);
        }
        3.81% {
            transform: translate(0px, 5.6889px) translate(-50%, -50%);
        }
        4.76% {
            transform: translate(0px, 8.8889px) translate(-50%, -50%);
        }
        5.71% {
            transform: translate(0px, 12.8px) translate(-50%, -50%);
        }
        6.67% {
            transform: translate(0px, 17.4222px) translate(-50%, -50%);
        }
        7.62% {
            transform: translate(0px, 22.7556px) translate(-50%, -50%);
        }
        8.57% {
            transform: translate(0px, 28.8px) translate(-50%, -50%);
        }
        9.52% {
            transform: translate(0px, 35.5556px) translate(-50%, -50%);
        }
        10.48% {
            transform: translate(0px, 43.0222px) translate(-50%, -50%);
        }
        11.43% {
            transform: translate(0px, 51.2px) translate(-50%, -50%);
        }
        12.38% {
            transform: translate(0px, 60.0889px) translate(-50%, -50%);
        }
        13.33% {
            transform: translate(0px, 69.6889px) translate(-50%, -50%);
        }
        14.29% {
            transform: translate(0px, 80px) translate(-50%, -50%);
        }
        15.24% {
            transform: translate(3px, 72.6528px) translate(-50%, -50%);
        }
        16.19% {
            transform: translate(6px, 65.9444px) translate(-50%, -50%);
        }
        17.14% {
            transform: translate(9px, 59.875px) translate(-50%, -50%);
        }
        18.1% {
            transform: translate(12px, 54.4444px) translate(-50%, -50%);
        }
        19.05% {
            transform: translate(15px, 49.6528px) translate(-50%, -50%);
        }
        20% {
            transform: translate(18px, 45.5px) translate(-50%, -50%);
        }
        20.95% {
            transform: translate(21px, 41.9861px) translate(-50%, -50%);
        }
        21.9% {
            transform: translate(24px, 39.1111px) translate(-50%, -50%);
        }
        22.86% {
            transform: translate(27px, 36.875px) translate(-50%, -50%);
        }
        23.81% {
            transform: translate(30px, 35.2778px) translate(-50%, -50%);
        }
        24.76% {
            transform: translate(33px, 34.3194px) translate(-50%, -50%);
        }
        25.71% {
            transform: translate(36px, 34px) translate(-50%, -50%);
        }
        26.67% {
            transform: translate(39.3333px, 34.3042px) translate(-50%, -50%);
        }
        27.62% {
            transform: translate(42.6667px, 35.2167px) translate(-50%, -50%);
        }
        28.57% {
            transform: translate(46px, 36.7376px) translate(-50%, -50%);
        }
        29.52% {
            transform: translate(49.3333px, 38.8669px) translate(-50%, -50%);
        }
        30.48% {
            transform: translate(52.6667px, 41.6045px) translate(-50%, -50%);
        }
        31.43% {
            transform: translate(56px, 44.9504px) translate(-50%, -50%);
        }
        32.38% {
            transform: translate(59.3333px, 48.9047px) translate(-50%, -50%);
        }
        33.33% {
            transform: translate(62.6667px, 53.4674px) translate(-50%, -50%);
        }
        34.29% {
            transform: translate(66px, 58.6384px) translate(-50%, -50%);
        }
        35.24% {
            transform: translate(69.3333px, 64.4178px) translate(-50%, -50%);
        }
        36.19% {
            transform: translate(72.6667px, 70.8056px) translate(-50%, -50%);
        }
        37.14% {
            transform: translate(76px, 77.8017px) translate(-50%, -50%);
        }
        38.1% {
            transform: translate(79.3333px, 85.4061px) translate(-50%, -50%);
        }
        39.05% {
            transform: translate(81.4667px, 81.5244px) translate(-50%, -50%);
        }
        40% {
            transform: translate(83.3px, 75.78px) translate(-50%, -50%);
        }
        40.95% {
            transform: translate(85.1333px, 71.2578px) translate(-50%, -50%);
        }
        41.9% {
            transform: translate(86.9667px, 67.9578px) translate(-50%, -50%);
        }
        42.86% {
            transform: translate(88.8px, 65.88px) translate(-50%, -50%);
        }
        43.81% {
            transform: translate(90.6333px, 65.0244px) translate(-50%, -50%);
        }
        44.76% {
            transform: translate(92.1294px, 65.283px) translate(-50%, -50%);
        }
        45.71% {
            transform: translate(93.5412px, 66.4325px) translate(-50%, -50%);
        }
        46.67% {
            transform: translate(94.9529px, 68.4664px) translate(-50%, -50%);
        }
        47.62% {
            transform: translate(96.3647px, 71.3845px) translate(-50%, -50%);
        }
        48.57% {
            transform: translate(97.7765px, 75.1869px) translate(-50%, -50%);
        }
        49.52% {
            transform: translate(99.1882px, 79.8735px) translate(-50%, -50%);
        }
        50.48% {
            transform: translate(100.6px, 85.4444px) translate(-50%, -50%);
        }
        51.43% {
            transform: translate(102.0118px, 91.8997px) translate(-50%, -50%);
        }
        52.38% {
            transform: translate(103.4235px, 99.2391px) translate(-50%, -50%);
        }
        53.33% {
            transform: translate(104.8353px, 107.4629px) translate(-50%, -50%);
        }
        54.29% {
            transform: translate(105.4px, 107.1111px) translate(-50%, -50%);
        }
        55.24% {
            transform: translate(105.4px, 101.1235px) translate(-50%, -50%);
        }
        56.19% {
            transform: translate(105.4px, 95.7531px) translate(-50%, -50%);
        }
        57.14% {
            transform: translate(105.4px, 91px) translate(-50%, -50%);
        }
        58.1% {
            transform: translate(105.4px, 86.8642px) translate(-50%, -50%);
        }
        59.05% {
            transform: translate(105.4px, 83.3457px) translate(-50%, -50%);
        }
        60% {
            transform: translate(105.4px, 80.4444px) translate(-50%, -50%);
        }
        60.95% {
            transform: translate(105.4px, 78.1605px) translate(-50%, -50%);
        }
        61.9% {
            transform: translate(105.4px, 76.4938px) translate(-50%, -50%);
        }
        62.86% {
            transform: translate(105.4px, 75.4444px) translate(-50%, -50%);
        }
        63.81% {
            transform: translate(105.4px, 75.0123px) translate(-50%, -50%);
        }
        64.76% {
            transform: translate(105.4px, 75.1975px) translate(-50%, -50%);
        }
        65.71% {
            transform: translate(105.4px, 76px) translate(-50%, -50%);
        }
        66.67% {
            transform: translate(105.4px, 77.4198px) translate(-50%, -50%);
        }
        67.62% {
            transform: translate(105.4px, 79.4568px) translate(-50%, -50%);
        }
        68.57% {
            transform: translate(105.4px, 82.1111px) translate(-50%, -50%);
        }
        69.52% {
            transform: translate(105.4px, 85.3827px) translate(-50%, -50%);
        }
        70.48% {
            transform: translate(105.4px, 89.2716px) translate(-50%, -50%);
        }
        71.43% {
            transform: translate(105.4px, 93.7778px) translate(-50%, -50%);
        }
        72.38% {
            transform: translate(105.4px, 98.9012px) translate(-50%, -50%);
        }
        73.33% {
            transform: translate(105.4px, 104.642px) translate(-50%, -50%);
        }
        74.29% {
            transform: translate(105.4px, 111px) translate(-50%, -50%);
        }
        75.24% {
            transform: translate(105.4px, 104.7607px) translate(-50%, -50%);
        }
        76.19% {
            transform: translate(105.4px, 99.3761px) translate(-50%, -50%);
        }
        77.14% {
            transform: translate(105.4px, 94.8462px) translate(-50%, -50%);
        }
        78.1% {
            transform: translate(105.4px, 91.1709px) translate(-50%, -50%);
        }
        79.05% {
            transform: translate(105.4px, 88.3504px) translate(-50%, -50%);
        }
        80% {
            transform: translate(105.4px, 86.3846px) translate(-50%, -50%);
        }
        80.95% {
            transform: translate(105.4px, 85.2735px) translate(-50%, -50%);
        }
        81.9% {
            transform: translate(105.4px, 85.0115px) translate(-50%, -50%);
        }
        82.86% {
            transform: translate(105.4px, 85.4136px) translate(-50%, -50%);
        }
        83.81% {
            transform: translate(105.4px, 86.3901px) translate(-50%, -50%);
        }
        84.76% {
            transform: translate(105.4px, 87.941px) translate(-50%, -50%);
        }
        85.71% {
            transform: translate(105.4px, 90.0663px) translate(-50%, -50%);
        }
        86.67% {
            transform: translate(105.4px, 92.766px) translate(-50%, -50%);
        }
        87.62% {
            transform: translate(105.4px, 96.0401px) translate(-50%, -50%);
        }
        88.57% {
            transform: translate(105.4px, 98.5762px) translate(-50%, -50%);
        }
        89.52% {
            transform: translate(105.4px, 96.9835px) translate(-50%, -50%);
        }
        90.48% {
            transform: translate(105.4px, 95.9652px) translate(-50%, -50%);
        }
        91.43% {
            transform: translate(105.4px, 95.5214px) translate(-50%, -50%);
        }
        92.38% {
            transform: translate(105.4px, 95.6519px) translate(-50%, -50%);
        }
        93.33% {
            transform: translate(105.4px, 96.3569px) translate(-50%, -50%);
        }
        94.29% {
            transform: translate(105.4px, 97.6362px) translate(-50%, -50%);
        }
        95.24% {
            transform: translate(105.4px, 98.7791px) translate(-50%, -50%);
        }
        96.19% {
            transform: translate(105.4px, 98.1994px) translate(-50%, -50%);
        }
        97.14% {
            transform: translate(105.4px, 98.1942px) translate(-50%, -50%);
        }
        98.1% {
            transform: translate(105.4px, 98.7634px) translate(-50%, -50%);
        }
        99.05% {
            transform: translate(105.4px, 98.7859px) translate(-50%, -50%);
        }
        100% {
            transform: translate(105.39999999999998px, 99px) translate(-50%, -50%);
        }
    }
}

@media only screen and (max-width: 913px) {
    .red-ball {
        display: none;
    }
}
